{% extends 'project-base.html' %}

{% block title %}
    <title>Technical Papers | Directed Energy</title>
{% endblock %}

{% block subpage_title %} Technical Papers {% endblock %}

{% block subpage_description %} The first space time capsule that will include all of humanities thoughts, images, and DNA. {% endblock %}

{% block subpage_body %}

<h5>For a total list of our more than 370 technical papers see <a href="https://www.researchgate.net/profile/Philip_Lubin" target="_blank">ResearchGate</a> under Philip Lubin</h5>

<h3>Recent Research</h3>
<h5>Some recent papers related to directed energy systems and applications are below.</h5>

<p><strong><em>Optical Engineering:</em></strong></p>
<p>Lubin, P., Hughes, G.B., Bible, J., Bublitz, J., Arriola, J., Motta, C., Suen, J., Johansson, I., Riley, J., Sarvian, N., Clayton-Warwick, D., Wu, J., Milich, A., Oleson, M., Pryor, M., Krogen, P., Kangas, M., and O’Neill, H. “Toward directed energy planetary defense,” <em>Optical Engineering</em>, Vol. 53, No. 2, pp 025103-1 to 025103-18 (Feb 2014), doi: 10.1117/1.OE.53.2.025103.</p>
<p>Riley, J., Lubin, P., Hughes, G.B., O’Neill, H., Meinhold, P., Suen, J., Bible, J., Johansson, I., Griswold, J. and Cook, B. “Directed energy active illumination for near-Earth object detection,” In Review, Apr 2016, <em>Optical Engineering</em>.</p>

<p><strong><em>Handbook of Cosmic Hazards and Planetary Defense:</em></strong></p>
<p>Lubin, P. and Hughes, G.B. “Directed Energy for Planetary Defense.” Chapter in: Allahdadi, Firooz, and Pelton, Joseph N. (Eds.), <em>Handbook of Cosmic Hazards and Planetary Defense</em>, Springer Reference, 1127 p., ISBN 978-3-319-03951-0 (2015).</p>

<p><strong><em>Advances in Space Research (ASR):</em></strong></p>
<p>Lubin, P., Hughes, G.B., Eskenazi, M., Kosmo, K., Johansson, I., Griswold, J., Pryor, M., O’Neill, H., Meinhold, P., Suen, J., Riley, J., Zhang, Q., Walsh, K.J., Melis, C., Kangas, M., Motta, C. and Brashears, T. “Directed Energy Missions for Planetary Defense,” <em>In Press</em>: Advances in Space Research (2016), doi: http://dx.doi.org/10.1016/j.asr.2016.05.021.</p>

<p><strong><em>Journal of the British Interplanetary Society (JBIS):</em></strong></p>
<p>Lubin, P., Hughes, G.B., Bible, J. and Johansson, I. “Directed Energy for Planetary Defense and Exploration: Applications to Relativistic Propulsion and Interstellar Communications,” <em>Journal of the British Interplanetary Society</em>, vol. 68, no. 5/6, pp. 172-182 (May/June 2015).</p>

<p><strong><em>Journal of the British Interplanetary Society (JBIS):</em></strong></p>
<p>Lubin, P. “The Roadmap to Interstellar Flight”, <em>Journal of the British Interplanetary Society – 2016 <a href="http://arxiv.org/abs/1604.01356" class="link" target="_blank">http://arxiv.org/abs/1604.01356</a><br />
</em></p>

<p><em><strong>REACH &#8211; Journal of Human Exploration</strong></em></p>
<p>Lubin, P. “The Search for Directed Intelligence”,  REACH &#8211; Human Exploration &#8211; Elsevier &#8211; 2016  <a href="http://arxiv.org/abs/1604.02108" class="link" target="_blank">http://arxiv.org/abs/1604.02108</a></p>

<br>
<p><strong><em>Publications of the Astronomical Society of the Pacific (PASP):</em></strong></p>
<p>Zhang, Q., Walsh, K.J., Melis, C., Hughes, G.B. and Lubin, P.M. “Orbital Simulations on Deflecting Near Earth Objects by Directed Energy,” <em>Publications of the Astronomical Society of the Pacific</em>, Vol. 128, No. 962, pp. 045001 (Apr 2016).</p>

<p><strong><em>In Preparation / Not Submitted:</em></strong></p>
<p>Zhang, Q., Lubin, P.M., Hughes, G.B., Melis, C. and Walsh, K.J. “Orbital Simulations of Laser-Driven Spacecraft,” submission expected Jan 2016 – <em>Celestial Mechanics and Dynamical Astronomy</em>.</p>

<br>
<h5>Conference Proceedings</strong></h5>

<p><strong>13<sup>th</sup> Hypervelocity Impact Symposium</strong></p>
<p>Zhang, Q., Walsh, K.J., Melis, C., Hughes, G.B. and Lubin, P., “Orbital Simulations for Directed Energy Deflection of Near-Earth Asteroids”, <em>in</em>: Schonberg, W.P., Ed., Proceedings of the 2015 Hypervelocity Impact Symposium (HVIS 2015), <em>Procedia Engineering</em>, Vol. 103:671-678 (2015)</p>

<p><strong>IEEE Aerospace Conference, 2015</strong></p>
<p>Kosmo, K., Lubin, P., Hughes, G.B., Griswold, J., Zhang, Q. and Brashears, T. “Directed Energy Planetary Defense,”<em>Aerospace Conference 2015 IEEE Proceedings</em>, 7-14 March 2015, ISBN: 978-1-4799-5379-0.</p>

<p><strong>STARDUST Global Virtual Conference 2014:</strong></p>
<p>Hughes, G.B., Lubin, P., O’Neill, H., Meinhold, P., Suen, J., Riley, J., Johansson, I., Bible, J., Bublitz, J., Arriola, J., Motta, C., Griswold, J., Cook, B., Sarvian, N., Clayton-Warwick, D., Wu, J., Milich, A.,Oleson, M., Kangas, M., Pryor, M. and Krogen, P. “DE-STAR: phased-array laser technology for planetary defense and exploration,” <em>STARDUST 1st Stardust Global Virtual Workshop (SGVW-1) on Asteroids and Space Debris</em>, Conference Proceedings edited by Massimiliano Vasile (May, 2014).</p>

<p><strong>SPIE Proceedings 2016:</strong></p>
<p>Hughes, G.B., Macasaet, V.P., Griswold, J., Sison, C.A., Lubin, P., Meinhold, P., Suen, J., Brashears, T., Zhang, Q. and Madajian, J. “A fast, high-precision six-degree-of-freedom relative position sensor,” <em>Photonic Instrumentation Engineering III</em>, edited by Yakov G. Soskind and Craig Olson, Proc. Of SPIE Vol. 9754, pp. 975403-975403 (Feb, 2016).</p>

<p><strong>SPIE Proceedings 2015:</strong></p>
<p>Griswold, J., Madajian, J., Johansson, I., Pfau, K., Lubin, P., Hughes, G.B., Gilkes, A., Meinhold, P., Motta, C., Brashears, T., and Zhang, Q. “Simulations of directed energy thrust on rotating asteroids,”<em>Nanophotonics and Macrophotonics for Space Environments IX</em>, edited by Edward W. Taylor, David A. Cardimona, Proc. of SPIE Vol. 9616 (Aug, 2015).</p>
<p>Zhang, Q., Walsh, K.J., Melis, C., Hughes, G.B., and Lubin, P. “Orbital simulations on the deflection of Near Earth Objects by directed energy,”<em>Nanophotonics and Macrophotonics for Space Environments IX</em>, edited by Edward W. Taylor, David A. Cardimona, Proc. of SPIE Vol. 9616 (Aug, 2015).</p>
<p>Brashears, T., Lubin, P., Hughes, G.B., McDonough, K., Arias, S., Lang, A., Motta, C., Meinhold, P., Batliner, P., Griswold, J., Zhang, Q., Alnawakhtha, Y., Prater, K., Madajian, J., Sturman, O., Gergieva, J., Gilkes, A., and Silverstein, B. “Directed Energy Interstellar Propulsion of WaferSats,”<em>Nanophotonics and Macrophotonics for Space Environments IX</em>, edited by Edward W. Taylor, David A. Cardimona, Proc. of SPIE Vol. 9616 (Aug, 2015).</p>
<p>Brashears, T., Lubin, P., Hughes, G.B., Meinhold, P., Suen, J.,Batliner, P., Motta, C., Griswold, J.,Kangas, M., Johansson, I., Alnawakhtha, Y., Prater, K., Lang, A., and Madajian, J. “Directed Energy Deflection Laboratory Measurements,”<em>Nanophotonics and Macrophotonics for Space Environments IX</em>, edited by Edward W. Taylor, David A. Cardimona, Proc. of SPIE Vol. 9616 (Aug, 2015).</p>
<p>Zhang, Q., Walsh, K.J., Melis, C., Hughes, G.B., and Lubin, P. “Orbital simulations of laser-propelled spacecraft,”<em>Nanophotonics and Macrophotonics for Space Environments IX</em>, edited by Edward W. Taylor, David A. Cardimona, Proc. of SPIE Vol. 9616 (Aug, 2015).</p>
<p>Hughes, G.B., Lubin, P., Meinhold, P., O’Neill, H., Brashears, T., Zhang, Q., Griswold, J., Riley, J., and Motta, C. “Stand-off molecular composition analysis,”<em>Nanophotonics and Macrophotonics for Space Environments IX</em>, edited by Edward W. Taylor, David A. Cardimona, Proc. of SPIE Vol. 9616 (Aug, 2015).</p>
<p>Steffanic, P., Johannes, B.T., Sison, C.A., Hughes, G.B., Lubin, P., Meinhold, P., Suen, J., O’Neill, H., Kangas, M., Brashears, T., Zhang, Q., Griswold, J., Riley, J., and Motta, C. “Local phase control for a planar array of fiber laser amplifiers,”<em>Nanophotonics and Macrophotonics for Space Environments IX</em>, edited by Edward W. Taylor, David A. Cardimona, Proc. of SPIE Vol. 9616 (Aug, 2015).</p>
<p>Brashears, T., Lubin, P., Turyshev, S., Shao, M., and Zhang, Q. “Solar Lens Mission Concept for Interstellar Exploration,”<em>Nanophotonics and Macrophotonics for Space Environments IX</em>, edited by Edward W. Taylor, David A. Cardimona, Proc. of SPIE Vol. 9616 (Aug, 2015).</p>

<p><strong>SPIE Proceedings 2014:</strong></p>
<p>Johansson, I., Tsareva, T., Griswold, J., Lubin, P., Hughes, G.B., O’Neill, H., Meinhold, P., Suen, J., Zhang, Q., Riley, J., Melis, C., Walsh, K.J., Brashears, T., Bollag, J., Mathew, S. and Bible, J. “Effects of asteroid rotation on directed energy deflection,”<em>Nanophotonics and Macrophotonics for Space Environments VIII</em>, edited by Edward W. Taylor, David A. Cardimona, Proc. of SPIE Vol. 9226, pp. 922607 (Aug, 2014).</p>
<p>Hughes, G.B., Lubin, P.,Griswold, J., Bozinni, D., O’Neill, H., Meinhold, P., Suen, J., Bible, J., Riley, J., Johansson, I., Pryor, M. and Kangas, M. “Optical modeling for a laser phased-array directed energy system,” <em>Nanophotonics and Macrophotonics for Space Environments VIII</em>, edited by Edward W. Taylor, David A. Cardimona, Proc. of SPIE Vol. 9226, pp. 922603 (Aug, 2014).</p>
<p>Riley, J., Lubin, P., Hughes, G.B., O’Neill, H., Meinhold, P., Suen, J., Bible, J., Johansson, I., Griswold, J. and Cook, B. “Directed energy active illumination for near-Earth object detection,”<em>Nanophotonics and Macrophotonics for Space Environments VIII</em>, edited by Edward W. Taylor, David A. Cardimona, Proc. of SPIE Vol. 9226, pp. 922606 (Aug, 2014).</p>
<p>Kosmo, K., Pryor, M., Lubin, P., Hughes, G.B., O’Neill, H., Meinhold, P., Suen, J., Riley, J., Griswold, J., Cook, B.V., Johansson, I., Zhang, Q., Walsh, K.J., Melis, C., Kangas, M., Bible, J., Motta, C.,Brashears, T., Mathew, S. and Bollag, J. “DE-STARLITE &#8211; a practical planetary defense mission,” <em>Nanophotonics and Macrophotonics for Space Environments VIII</em>, edited by Edward W. Taylor, David A. Cardimona, Proc. of SPIE Vol. 9226, pp. 922604 (Aug, 2014).</p>

<p><strong>SPIE Proceedings 2013:</strong></p>
<p>Lubin, P., Hughes, G.B., Bible, J., Bublitz, J., Arriola, J., Motta, C., Suen, J., Johansson, I., Riley, J., Sarvian, N., Clayton-Warwick, D., Wu, J., Milich, A., Oleson, M., Pryor, M., Krogan, P. and Kangas, M. “Directed energy planetary defense,” <em>Nanophotonics and Macrophotonics for Space Environments VII</em>, edited by Edward W. Taylor, David A. Cardimona, Proc. of SPIE Vol. 8876, pp. 887602 (Aug, 2013).</p>
<p>Hughes, G.B., Lubin, P., Bible, J., Bublitz, J., Arriola, J., Motta, C., Suen, J., Johansson, I., Riley, J., Sarvian, N., Wu, J., Milich, A., Oleson, M., and Pryor, M. “DE-STAR: phased-array laser technology for planetary defense and other scientific purposes,” <em>Nanophotonics and Macrophotonics for Space Environments VII</em>, edited by Edward W. Taylor, David A. Cardimona, Proc. of SPIE Vol. 8876, pp. 88760J (Aug, 2013).</p>
<p>Bible, J., Bublitz, J., Johansson, I., Hughes, G.B., and Lubin, P. “Relativistic Propulsion Using Directed Energy,” <em>Nanophotonics and Macrophotonics for Space Environments VII</em>, edited by Edward W. Taylor, David A. Cardimona, Proc. of SPIE Vol. 8876, pp. 887605 (2013).</p>


{% endblock %}