{% extends 'project-base.html' %}

{% block title %}
    <title>Kickstarter | Directed Energy</title>
{% endblock %}

{% block subpage_title %} Kickstarter {% endblock %}

{% block subpage_description %} Support The World’s Space Time Capsule! {% endblock %}

{% block subpage_body %}

<p>Our New Kickstarter is Under Development. Redirecting to our previous kickstarter campagin ... </p>
<meta http-equiv="refresh" content="4; url=https://www.kickstarter.com/projects/1793003507/voices-of-humanity-the-worlds-space-time-capsule?token=9609f609">
<p>If the page doesn't redirect in 10 seconds, click <a href="https://www.kickstarter.com/projects/1793003507/voices-of-humanity-the-worlds-space-time-capsule?token=9609f609">here</a>.</p>

{% endblock %}