<!-- Open graph meta tags -->
<meta property="og:title" content="Your title" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://your url to this content" />
<meta property="og:image" content="http://your_url/images/image.jpg" />
<meta property="og:description" content="Your description here" />
<meta property="og:locale" content="en_GB" />
<meta property="og:locale:alternate" content="" />
<meta property="og:locale:alternate" content="" />
<meta property="og:site_name" content="Your site name" />

<meta name="description" content="Architect homepage for the Flagstone HTML theme.">
<meta name="viewport" content="width=device-width, initial-scale=1">
