<!-- Open graph meta tags -->
<meta name="author" content="Gan Tu (tugan0329@gmail.com)">
<meta property="og:title" content="Directed Energy" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://voice-of-humanity.herokuapp.com" />
<meta property="og:image" content="{{url_for('static', filename='img/logo-dark.png')}}" />
<meta property="og:description" content="Directed Energy" />
<meta property="og:locale" content="en_GB" />
<meta property="og:site_name" content="Directed Energy" />

<meta name="description" content="Directed Energy Site">
<meta name="viewport" content="width=device-width, initial-scale=1">
