{% if params["subpage_nav"] %}
<header class="primary-header primary-header--fixed-nav">
{% else %}
<header class="primary-header primary-header--fixed-nav background-color-10">
{% endif %}
    <div class="grid-container">
        <div class="grid-row">
            <div class="column-12">
                {% if params["subpage_nav"] %}
                    <div class="float-left">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo-light.png') }}" class="primary-header__logo-image" alt="Directed Energy Light Logo"></a>
                {% else %}
                    <div class="primary-header__logo float-left">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo-dark.png') }}" class="primary-header__logo-image" alt="Directed Energy Dark Logo"></a>
                {% endif %}
                </div>
                <button class="mobile-nav-toggle float-right">
                    <span></span>
                </button>
                <nav class="float-right desktop-nav">
                    <ul class="nav float-right">
                        <li class="nav-item">
                            <a href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="nav-item has-submenu">
                            <a href="#">Projects</a>
                            <ul class="is-submenu">
                                <li><a href="{{ url_for('humanity_chip') }}">Humanity Chip</a></li>
                                <li><a href="{{ url_for('space_based_laser_applications') }}">Laser Applications</a></li>
                                <li><a href="{{ url_for('kickstarter') }}">Kickstarter</a></li>
                            </ul>
                        </li>
                        <li class="nav-item has-submenu">
                            <a href="#">About</a>
                            <ul class="is-submenu">
                                <li><a href="{{ url_for('about_us') }}">About Us</a></li>
                                <li><a href="{{ url_for('technical_papers') }}">Technical Papers</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="https://store9398043.ecwid.com" target="_blank">Store</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>