{% extends 'base.html' %}


{% block title %}
    <title>Home | Directed Energy</title>
{% endblock %}

{% block body %}
    
    <div class="ensemble-slideshow-container">
        <div class="ensemble-slideshow"
        data-cycle-log="false"
        data-cycle-fx="scrollHorz"
        data-cycle-timeout="8000"
        data-cycle-loader="wait"
        data-cycle-pause-on-hover="true"
        data-cycle-speed="400"
        data-cycle-prev=".ensemble-slideshow__previous-slide"
        data-cycle-slide-class="ensemble-slideshow__slide"
        data-cycle-next=".ensemble-slideshow__next-slide"
        data-cycle-pager=".ensemble-slideshow__pager"
        data-cycle-slides="> div">
            <div class="ensemble-slideshow__first-slide">
                <img src="static/img/architect/architect__slider-image-1.jpg" alt="Slide image">
                <div class="ensemble-slideshow__layer ensemble-slideshow__layer-center ">
                    <div class="ensemble-slideshow__caption animate__fade-in-right">
                        <img class="slider-heading__light-background" src="static/img/architect/architect__slider-caption-1.png" alt="">
                    </div>
                    <div class="ensemble-slideshow__caption animate__fade-in-left margin-top-20">
                        <img class="slider-heading__dark-background" src="static/img/architect/architect__slider-caption-2.png" alt="Slide image">
                    </div>
                </div>
            </div>
            <div>
                <img src="static/img/architect/architect__slider-image-2.jpg" alt="Slide image">
                <div class="ensemble-slideshow__layer ensemble-slideshow__layer-center ">
                    <div class="ensemble-slideshow__caption animate__fade-in-down">
                        <img class="center-image slider-heading__light-background" src="static/img/architect/architect__slider-caption-3.png" alt="">
                    </div>
                    <div class="ensemble-slideshow__caption animate__fade-in-up margin-top-20">
                        <img class="center-image slider-heading__dark-background" src="static/img/architect/architect__slider-caption-4.png" alt="Slide image">
                    </div>
                </div>
            </div>
            <a href="#" class="ensemble-slideshow__previous-slide">
                <i class="ion-ios-arrow-left"></i>
            </a>
            <a href="#" class="ensemble-slideshow__next-slide">
                <i class="ion-ios-arrow-right"></i>
            </a>
        </div>
        <div class="ensemble-slideshow__pager ensemble-slideshow__pager--on-slider ensemble-slideshow__pager--rounded"></div>
    </div>

    <!-- End of section -->

    <div class="grid-container padding-top-100">
        <div class="grid-row">
            <div class="column-12">
                <h4>Who We Are?</h4>
                <p class="text-uppercase font-size-h6 text-color-2">
                    We focuses on transformational applications of directed energy for applications ranging from photonic power transmission to relativistic propulsion.
                </p>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-row">
            <div class="column-12">
                <p>
                    We come from a major university environment with more than 4 decades of experience in technology and its applications from terrestrial to space missions.
                    Our vision is to use new technological advances to better humanity through the synthesis of ideas and our core values. Our goal is to make possible that which is currently only a dream for many but whose reality can be realized.
                </p>
            </div>
        </div>
    </div>

    <!-- End of section -->

    <section class="background-color-2">
        <div class="grid-container-fluid margin-top-80">
            <div class="grid-row">
                <div class="column-1 padding-top-40 padding-bottom-40">
                    <h4 class="vertical-text text-color-10">Highlights</h4>
                </div>
                <div class="column-11">
                    <div class="grid-row">
                        <div class="column-4 no-padding">
                            <div class="overlay">
                                <div class="overlay__background"></div>
                                    <div class="overlay__content text-center text-color-2">
                                        <span class="overlay__content-heading">Humanity Chip</span>
                                        <span class="overlay__content-text">
                                            <a class="link" alt="Humanity Chip - The first space time capsule that will include all of humanities thoughts, images, and DNA." href="{{ url_for('humanity_chip') }}"> View this project</a>
                                        </span>
                                    </div>
                                <img src="static/img/item1.png" alt="Slide image" class="overlay__image overlay__image--skew">
                            </div>
                        </div>
                        <div class="column-4 no-padding">
                            <div class="overlay">
                                <div class="overlay__background"></div>
                                    <div class="overlay__content text-center text-color-2">
                                        <span class="overlay__content-heading">
                                        Space Based Laser Applications</span>
                                        <span class="overlay__content-text">
                                            <a class="text-color-1" alt="Applications of space based laser systems from relativistic propulsion that enable the first interstellar missions to defending the planet from asteroids and comets to long range power beaming to mitigating space debris among many others." href="{{ url_for('space_based_laser_applications') }}"> View this project</a>
                                        </span>
                                    </div>
                                <img src="static/img/item2.jpg" alt="Space Based Laser Applications" class="overlay__image overlay__image--skew">
                            </div>
                        </div>
                        <div class="column-4 no-padding">
                            <div class="overlay">
                                <div class="overlay__background"></div>
                                    <div class="overlay__content text-center text-color-2">
                                        <span class="overlay__content-heading">Van Den Berg</span>
                                        <span class="overlay__content-text">
                                            <a class="link" data-lightbox="gallery" data-caption="Van Den Berg residence - Design and build consultation" href="static/img/architect/architect__portfolio-3.jpg">View this project</a>
                                        </span>
                                    </div>
                                <img src="static/img/architect/architect__portfolio-3.jpg" alt="Slide image" class="overlay__image overlay__image--skew">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End of section -->

    <section>
        <div class="grid-container margin-top-100">
        <div class="grid-row">
            <div class="column-3">
                <h4>Client testimonials</h4>
            </div>
            <div class="column-9">
                <div class="ensemble-slideshow-container">
                    <div class="ensemble-slideshow"
                        data-cycle-log="false"
                        data-cycle-fx="scrollHorz"
                        data-cycle-timeout="8000"
                        data-cycle-pause-on-hover="true"
                        data-cycle-auto-height="calc"
                        data-cycle-speed="400"
                        data-cycle-prev=".ensemble-slideshow__previous-slide--alt"
                        data-cycle-slide-class="ensemble-slideshow__slide"
                        data-cycle-next=".ensemble-slideshow__next-slide--alt"
                        data-cycle-pager=".hide"
                        data-cycle-slides="> div">
                        <div class="ensemble-slideshow__first-slide">
                            <div class="testimonial padding-bottom-50">
                                <div class="testimonial__quote no-margin">
                                    <p class="text-italic">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque dui, eleifend nec nulla eget, ornare tincidunt elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam placerat nunc in sagittis rhoncus. In vestibulum mollis libero, vitae faucibus odio iaculis vitae. Pellentesque a tempus nulla. Maecenas pharetra odio eget suscipit sodales. Mauris gravida, enim et rhoncus luctus, lacus felis vulputate velit, ut convallis nisi purus gravida risus.
                                    </p>
                                    <p class="text-italic">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque dui, eleifend nec nulla eget, ornare tincidunt elit. Vestibulum ante ipsum primis.
                                    </p>
                                    <div class="testimonial__meta">
                                        <span class="testimonial__meta-name">Ryan Eddison</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testimonial padding-bottom-50">
                                <div class="testimonial__quote no-margin">
                                    <p class="text-italic">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque dui, eleifend nec nulla eget, ornare tincidunt elit. Vestibulum ante ipsum primis.
                                    </p>
                                    <p class="text-italic">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque dui, eleifend nec nulla eget, ornare tincidunt elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam placerat nunc in sagittis rhoncus. In vestibulum mollis libero, vitae faucibus odio iaculis vitae.
                                    </p>
                                    <div class="testimonial__meta">
                                        <span class="testimonial__meta-name">Jenny McCarrick</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="testimonial padding-bottom-50">
                                <div class="testimonial__quote no-margin">
                                    <p class="text-italic">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque dui, eleifend nec nulla eget, ornare tincidunt elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam placerat nunc in sagittis rhoncus. In vestibulum mollis libero, vitae faucibus odio iaculis vitae.
                                    </p>
                                    <p class="text-italic">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque dui, eleifend nec nulla eget, ornare tincidunt elit. Vestibulum ante ipsum primis.
                                    </p>
                                    <div class="testimonial__meta">
                                        <span class="testimonial__meta-name">Olsen Van Den Berg</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="ensemble-slideshow__pager"></div>
                        <a href="#" class="ensemble-slideshow__previous-slide--alt">
                            <i class="ion-ios-arrow-left"></i>
                        </a>
                        <a href="#" class="ensemble-slideshow__next-slide--alt">
                            <i class="ion-ios-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End of section -->

    <section class="background-color-2">
        <div class="grid-container-fluid margin-top-100">
            <div class="grid-row">
                <div class="column-1 padding-top-40 padding-bottom-40">
                    <h4 class="vertical-text text-color-10">Meet our founder</h4>
                </div>
                <div class="column-11 no-padding">
                    <div class="parallax">
                        <div class="parallax__background parallax--banner-1"></div>
                        <div class="grid-row no-margin">
                            <div class="column-4">
                                <div class="profile background-color-10">
                                    <div class="profile__bio">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque dui, eleifend nec nulla eget, ornare tincidunt elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam placerat nunc in sagittis rhoncus. In vestibulum mollis libero, vitae faucibus odio iaculis vitae.
                                        </p>
                                    </div>
                                    <div class="profile__meta">
                                        <span class="profile__meta-name font-size-h3"><span class="special-font">David  Gillet</span></span>
                                        <span class="profile__meta-position">CEO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End of section -->

    <section class="margin-bottom-100">
        <div class="grid-container margin-top-100">
            <div class="grid-row">
                <div class="column-3">
                    <h4>Get in touch...</h4>
                </div>
                <div class="column-9">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed neque dui, eleifend nec nulla eget, ornare tincidunt elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam placerat nunc in sagittis rhoncus. In vestibulum mollis libero, vitae faucibus odio iaculis vitae.
                    </p>
                    <a href="#" class="modal-open button text-color-10">Request consultation</a>
                </div>
            </div>
        </div>
    </section>

    <!-- End of section -->

    <div class="modal modal-toggle">
        <span class="modal-close"></span>
        <div class="modal-content">
            <div class="grid-container">
                <div class="grid-row">
                    <div class="column-12">
                        <h4>Request a consultation</h4>
                        <form action="post" class="form">
                            <div class="grid-container">
                                <div class="grid-row">
                                    <div class="column-6">
                                        <label class="label">Name</label>
                                        <input type="text" class="input">
                                    </div>
                                    <div class="column-6">
                                        <label class="label">Email address</label>
                                        <input type="email" class="input">
                                    </div>
                                </div>
                                <div class="grid-row margin-top-20">
                                    <div class="column-12">
                                        <label class="label">Project details</label>
                                        <textarea class="input" name="name" rows="8" cols="40"></textarea>
                                        <button type="submit" class="button text-color-10 margin-top-20">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}